---
import probe from 'probe-image-size'
import { icon } from '@/lib/Icons/getIcon'
import { Image } from '@astrojs/image/components'

const { title, href } = Astro.props

let url,
  iconName,
  iconLink,
  iconHeight = 24,
  iconRatio

try {
  url = new URL(href)
  url.searchParams.append('ref', 'itsmy.fyi')
  url = url.toString()
} catch (e) {
  console.log(e.message || e.toString())
}

try {
  iconName = title.toLowerCase().replace(/-/g, '').replace(/ /g, '')
  iconLink = icon(iconName ?? title)
  if (iconLink) {
    const { width, height } = await probe(iconLink)
    iconRatio = width / height
  }
} catch (e) {
  console.log(e.message || e.toString())
}
---

{
  title && url && (
    <a href={url} target="_blank" aria-label={title} rel="noopener nofollow" class="transition hover:scale-[1.25]">
      {iconLink ? (
        <Image class="rounded" alt={title} title={title} height={iconHeight} aspectRatio={iconRatio} position="center" src={iconLink} />
      ) : (
        <svg class="transition hover:scale-[1.025]" width="30" height="30" viewBox="0 0 70 68" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path
            fill="white"
            d="M20.6281 27.8035L14.6256 33.6345C12.164 36.0258 10.7811 39.2691 10.7811 42.6509C10.7811 46.0327 12.164 49.276 14.6256 51.6672C17.0873 54.0585 20.4259 55.402 23.9072 55.402C27.3885 55.402 30.7271 54.0585 33.1888 51.6672L41.1863 43.894C42.6707 42.4518 43.7773 40.6847 44.4132 38.7411C45.0491 36.7974 45.1958 34.734 44.841 32.7239C44.4861 30.7138 43.64 28.8157 42.3738 27.189C41.1075 25.5622 39.458 24.2543 37.5638 23.375L35 25.8655C34.7397 26.1188 34.5134 26.403 34.3263 26.7112C35.7898 27.12 37.1182 27.8927 38.1802 28.9529C39.2421 30.0132 40.0008 31.3244 40.3813 32.7568C40.7617 34.1892 40.7508 35.6933 40.3495 37.1203C39.9482 38.5473 39.1704 39.8479 38.0931 40.8935L30.1 48.6625C28.4582 50.2574 26.2313 51.1535 23.9094 51.1535C21.5874 51.1535 19.3606 50.2574 17.7188 48.6625C16.0769 47.0676 15.1545 44.9043 15.1545 42.6488C15.1545 40.3932 16.0769 38.2299 17.7188 36.635L21.1881 33.269C20.6986 31.4871 20.5095 29.6442 20.6281 27.8035Z"
          />
          <path
            fill="white"
            d="M28.8137 19.856C27.3293 21.2982 26.2227 23.0653 25.5868 25.0089C24.9509 26.9526 24.8042 29.016 25.159 31.0261C25.5139 33.0362 26.36 34.9343 27.6262 36.561C28.8925 38.1878 30.542 39.4957 32.4362 40.375L35.8269 37.077C34.3435 36.6905 32.991 35.9315 31.9053 34.8764C30.8195 33.8212 30.0388 32.507 29.6415 31.0659C29.2443 29.6248 29.2445 28.1074 29.6421 26.6664C30.0398 25.2254 30.8209 23.9114 31.9069 22.8565L39.9 15.0875C41.5419 13.4926 43.7687 12.5965 46.0906 12.5965C48.4126 12.5965 50.6394 13.4926 52.2812 15.0875C53.9231 16.6824 54.8455 18.8457 54.8455 21.1013C54.8455 23.3568 53.9231 25.5201 52.2812 27.115L48.8119 30.481C49.3019 32.266 49.49 34.1147 49.3719 35.9507L55.3744 30.1197C57.836 27.7285 59.2189 24.4852 59.2189 21.1034C59.2189 17.7216 57.836 14.4783 55.3744 12.087C52.9127 9.69571 49.5741 8.35229 46.0928 8.35229C42.6115 8.35229 39.2729 9.69571 36.8112 12.087L28.8137 19.856Z"
          />
        </svg>
      )}
    </a>
  )
}
